<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<!-- <classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" 
		/> -->

	<context id="DB2Tables" targetRuntime="MyBatis3">
		<!-- 数据类的连接配置 -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://192.168.0.168:3306/yrb" userId="dev"
			password="123456">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!-- 指定实体类的路径 -->
		<javaModelGenerator targetPackage="com.lixiang.ssm.entity" 
			targetProject="D:\eclipse\works\yrb\yrb-common\src\main\java">
			targetProject="D:\javaproject\Java\yrb\yrb-common\src\main\java">
			<property name="constructorBased" value="true"/>
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<!-- 指定映射文件的路径 -->
		<sqlMapGenerator targetPackage="mapper"
			targetProject="D:\eclipse\works\yrb\yrb-common\src\main\resources\mapper">
			targetProject="D:\javaproject\Java\yrb\yrb-common\src\main\resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>
		<!-- 指定生成接口路径 -->
		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.lixiang.ssm.dao" targetProject="D:\eclipse\works\yrb\yrb-common\src\main\java">
			targetPackage="com.lixiang.ssm.dao" targetProject="D:\javaproject\Java\yrb\yrb-common\src\main\java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<!-- <table tableName="user" domainObjectName="User" enableCountByExample="false" 
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" 
			selectByExampleQueryId="false"></table> -->

		<table tableName="t_user_credit" domainObjectName="UserCredit"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		<table tableName="t_user_info" domainObjectName="UserInfo"
	<!-- 	<table tableName="product" domainObjectName="Product"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table> -->
	</context>
</generatorConfiguration>