<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixiang.ssm.dao.LoanApplicationMapper">
  <resultMap id="BaseResultMap" type="com.lixiang.ssm.entity.LoanApplication">
    <result column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="real_name" property="realName"/>
    <result column="contact_number" property="contactNumber"/>
    <result column="loan_balance" property="loanBalance"/>
    <result column="loan_term" property="loanTerm"/>
    <result column="address" property="address"/>
    <result column="result" property="result"/>
    <result column="appliy_date" property="appliyDate"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, real_name, contact_number, loan_balance, loan_term, address, result, appliy_date
  </sql>
  
  <!-- 查询申请列表 -->
  <select id="listSelectByResult" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_loan_application
    where result = #{result}
  </select>
  
  <!-- 查询真实姓名或联系电话获取未处理申请列表 -->
  <select id="listSelectByRealNameORContactNumber" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_loan_application
    where result = 0
    <if test="realName!=null"> and real_name = #{realName}</if>
    <if test="contactNumber!=null"> and contact_number = #{contactNumber}</if>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed May 16 12:04:37 CST 2018.
    -->
    delete from t_loan_application
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lixiang.ssm.entity.LoanApplication">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed May 16 12:04:37 CST 2018.
    -->
    insert into t_loan_application (id, user_id, real_name, 
      contact_number, loan_balance, loan_term, 
      address, result, appliy_date, 
      handler_id, handler_name, handler_date
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{realName,jdbcType=VARCHAR}, 
      #{contactNumber,jdbcType=VARCHAR}, #{loanBalance,jdbcType=INTEGER}, #{loanTerm,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{result,jdbcType=INTEGER}, #{appliyDate,jdbcType=TIMESTAMP}, 
      #{handlerId,jdbcType=INTEGER}, #{handlerName,jdbcType=VARCHAR}, #{handlerDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lixiang.ssm.entity.LoanApplication">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed May 16 12:04:37 CST 2018.
    -->
    insert into t_loan_application
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="contactNumber != null">
        contact_number,
      </if>
      <if test="loanBalance != null">
        loan_balance,
      </if>
      <if test="loanTerm != null">
        loan_term,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="appliyDate != null">
        appliy_date,
      </if>
      <if test="handlerId != null">
        handler_id,
      </if>
      <if test="handlerName != null">
        handler_name,
      </if>
      <if test="handlerDate != null">
        handler_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="loanBalance != null">
        #{loanBalance,jdbcType=INTEGER},
      </if>
      <if test="loanTerm != null">
        #{loanTerm,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=INTEGER},
      </if>
      <if test="appliyDate != null">
        #{appliyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="handlerId != null">
        #{handlerId,jdbcType=INTEGER},
      </if>
      <if test="handlerName != null">
        #{handlerName,jdbcType=VARCHAR},
      </if>
      <if test="handlerDate != null">
        #{handlerDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lixiang.ssm.entity.LoanApplication">
    update t_loan_application
    <set>
      <if test="loanBalance != null">
        loan_balance = #{loanBalance,jdbcType=INTEGER},
      </if>
      <if test="loanTerm != null">
        loan_term = #{loanTerm,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=INTEGER},
      </if>
      <if test="handlerId != null">
        handler_id = #{handlerId,jdbcType=INTEGER},
      </if>
      <if test="handlerName != null">
        handler_name = #{handlerName,jdbcType=VARCHAR},
      </if>
      <if test="handlerDate != null">
        handler_date = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lixiang.ssm.entity.LoanApplication">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed May 16 12:04:37 CST 2018.
    -->
    update t_loan_application
    set user_id = #{userId,jdbcType=INTEGER},
      real_name = #{realName,jdbcType=VARCHAR},
      contact_number = #{contactNumber,jdbcType=VARCHAR},
      loan_balance = #{loanBalance,jdbcType=INTEGER},
      loan_term = #{loanTerm,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      result = #{result,jdbcType=INTEGER},
      appliy_date = #{appliyDate,jdbcType=TIMESTAMP},
      handler_id = #{handlerId,jdbcType=INTEGER},
      handler_name = #{handlerName,jdbcType=VARCHAR},
      handler_date = #{handlerDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <insert id="addLoanApplication" parameterType="com.lixiang.ssm.entity.LoanApplication">
    insert into t_loan_application (user_id, real_name, 
      contact_number, loan_balance, loan_term, 
      address, appliy_date
      
      )
    values (#{userId,jdbcType=INTEGER}, #{realName,jdbcType=VARCHAR}, 
      #{contactNumber,jdbcType=VARCHAR}, #{loanBalance,jdbcType=INTEGER}, #{loanTerm,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR},#{appliyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  
</mapper>